<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap" rel="stylesheet"> <!-- 폰트 추가 -->
</head>
<body style="font-family: 'Gaegu', cursive; background-color: white;"> <!-- 폰트 적용 -->
<table style="background-color: #D8D8D8; padding: 20px; margin: 20px; width: 100%; border-collapse: collapse;">
  <tbody>
  <tr>
    <td style="background-color: #D8D8D8; padding: 5px; margin: 5px; width: 60%;">
      <p style="font-size: 18px; text-align: center; color: #1C1C1C;">이노모터서비스와 함께해주셔서 감사합니다.</p>
      <p style="font-size: 16px; color: #1C1C1C; text-align: center;">밑의 비밀번호로 로그인 해주세요</p>
      <div style="background-color: #FFFFFF; border: 1px solid #ccc; padding: 10px; text-align: center; width: 150px; margin: 0 auto;">
        <p style="font-size: 12px; text-align: center; color: black;">변경된 비밀번호 : <span th:text="${name}"></span></p>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>